

  
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                 <div class="single-footer-caption mb-50">
                   <div class="single-footer-caption mb-30">
                      <!-- logo -->
                        
                      <a href="/index"><img src="assets/assets/img/logo/logo.jpg" alt="Logo" height="110px"width="180px" > </a>
                        
                    <div class="footer-tittle">
                        <div class="footer-pera">
                                نحن فريق كلين ببلز مهتمين بتبسيط تجربة الغسيل الخاصة بك، وتوفير الراحة بتوصيل ملابسك عند بيتكم
                                من خلال عرباتنا المتنقلة الخاصة بنا، نضمن استلام وتسليم ملابسك بسلاسة من أي مكان في جميع أنحاء المملكة العربية السعودية
                                بغض النظر عن مكان تواجدك، سواء في المدن المزدحمة أو المناطق النائية، فإن عرباتنا المتنقلة جاهزة للوصول إليك، مما يجعل العناية بالغسيل سهلة
                                قل وداعًا لمتاعب نقل ملابسك إلى المغسلة ودعنا نتولى الأمر نيابةً عنك
                                " اجلس واسترخي واستمتع بالراحة التي توفرها خدمة غسيل الملابس الموثوقة لدينا "</p>
                        </div>
                    </div>
                    <!-- social -->
                    <div class="footer-social">
                        <a href="https://x.com/taifalsahli?s=21&t=Z0NT-Yvdfkz5_Yyrhck6DA"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/reem.hamada.311493"><i class="fab fa-facebook-f"></i></a>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                    <h4>
                        خدماتنا </h4>
                    <ul>
                        <li><a href="#"> الملابس اليومية -</a></li>
                        <li><a href="#">الملابس الرسمية -</a></li>
                        <li><a href="#">الأقمشة المنزلية -</a></li>
                        <li><a href="#">الأحذية-</a></li>
                        <li><a href="#"> غسيل القطعة الواحدة-</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                    <h4>ابق على تواصل</h4>
                    <ul>
                        <li class="number"><a href="#"><i class="fas fa-phone"></i> +966 50 558 8900</a></li>
                        <li><a href="mailto:cleanbubbles@hotmail.com"><i class="fas fa-envelope"></i> cleanbubbles@hotmail.com</a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- footer-bottom area -->
<div class="footer-bottom-area section-bg2" data-background="assets/assets/img/gallery/footer-bg.png">
<div class="container">
    <div class="footer-border">
       <div class="row d-flex align-items-center">
           <div class="col-xl-12 ">
               <div class="footer-copy-right text-center">
                   <p>
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by css team  <i class="fa fa-heart" aria-hidden="true"></i> </a>
                     </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
