<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>

    
    <main>
      
        <section class="about-area2 section-padding25">
            <div class="container">
                <div class="row align-items-center">
                 
                        <!-- about-img -->
                        <div class="road">
                            <div class="car">
                                <img src="assets/assets/img/gallery/about1.png"  height="190px" width="160px"   alt="">
                            </div>
                        </div>

                        
                    <div class="col-lg-4 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-25">
                                <h2>من نحن؟</h2>
                                
                            </div>
                           <h1>
                              فريق كلين ببلز مهتمين بتبسيط تجربة الغسيل الخاصة بك، وتوفير الراحة بتوصيل ملابسك عند بيتكم من خلال عرباتنا المتنقلة الخاصة بنا، نضمن استلام وتسليم ملابسك بسلاسة من أي مكان في جميع أنحاء المملكة العربية السعودية بغض النظر عن مكان تواجدك، سواء في المدن المزدحمة أو المناطق النائية، فإن عرباتنا المتنقلة جاهزة للوصول إليك، مما يجعل العناية بالغسيل سهلة قل وداعًا لمتاعب نقل ملابسك إلى المغسلة ودعنا نتولى الأمر نيابةً عنك
                           </h1>
                               <h1>
                                    اجلس واسترخي واستمتع بالراحة التي توفرها خدمة غسيل الملابس الموثوقة لدينا
                               </h1>
                            
                        </div>
                    </div>
                </div>
            </div>
          
        </section>

        <section class="ratings-section">
            <div class="ratings-content">
                <div class="section-tittle mb-25">
                <h2>تقييمات الزوار</h2>
                <div class="rating">
                    <span>⭐⭐⭐⭐⭐</span>
                    <p>خدمة رائعة! استلموا الملابس من البيت وأعادوها نظيفة تمامًا.</p>
                </div>
                <div class="rating">
                    <span>⭐⭐⭐⭐</span>
                    <p>خدمة جيدة جدًا وسريعة.</p>
                </div>
                <div class="rating">
                    <span>⭐⭐⭐⭐⭐</span>
                    <p>أفضل خدمة غسيل استخدمتها على الإطلاق!</p>
                </div>
                <!-- Add more ratings as needed -->
            </div>  
       
        </section>
     
      
  
    </main>

<%- contentFor('FooterJs') %>
