<%- contentFor('HeaderCss') %>
    <%- contentFor('body') %>


        <main>
            <!--? slider Area Start-->
            <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                <img src="assets/assets/img/hero/hero6.jpg" alt="" height="400px" width="400px">
            </div>
            <!-- slider Area End-->
            <!--? Services Area Start -->
            <section>
                <hr>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8">
                            <div class="section-tittle text-center mb-55">

                                <h2>كيف نعمل؟ </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-cat text-center">
                                <div class="cat-icon">
                                    <img src="assets/assets/img/icon/services-icon1.svg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h1>
                                        <a href="services.html">نجمع ملابسك</a>
                                    </h1>

                                    <h2>
                                        اول ماتتمم الطلب نجيك لحد بيتك نستلم ملابسك
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-cat text-center">
                                <div class="cat-icon">
                                    <img src="assets/assets/img/icon/services-icon2.svg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h1><a href="services.html">نغسل ونكوي ملابسك</a></h1>

                                    <h2>
                                        بعد مانستلم منك الملابس نبدا نغسلها ونكويها </h2>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-cat text-center">
                                <div class="cat-icon">
                                    <img src="assets/assets/img/icon/services-icon3.svg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h1><a href="services.html">!تم التوصيل</a></h1>

                                    <h2>بيوصلك اشعار ان ملابسك تنتظرك</h2>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>







        <%- contentFor('FooterJs') %>