<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>

    
    <main>
      
  
        <section class="services-area pt-top border-bottom pb-20 mb-60">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                           
                            <h2>خدماتنا</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
      
                       

                            <div class="cat-icon">
                                <img src="assets/assets/img/icon/services-icon6.jpg"width=90px height="100px" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services">الملابس اليومية</a></h5>
                                <h2>الملابس اليومية التي تتطلب الغسيل الاعتيادي مع الطي</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="assets/assets/img/icon/services-icon5.jpg" width=90px height="100px" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services">الملابس الرسمية</a></h5>
                                <h2>
                                الملابس الرسمية التي تتطلب غسيل بعناية والكوي مع التعليق</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="assets/assets/img/icon/services-icon1.jpg"width=90px height="100px" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="/services">الاقمشة المنزلية</a></h5>
                                <h2>
                               الأقمشة المنزلية التي تتطلب غسيل بعناية والكوي مع الطي
                            </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="assets/assets/img/icon/services-icon2.jpg" width=90px height="100px" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services">الأحذية</a></h5>
                                <h2>

                               الأحذية بجميع أنواعها وألوانها
                                </h2>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="assets/assets/img/icon/services-icon3.jpg" width=90px height="100px"alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services">القطعة الواحدة</a></h5>
                                <h2>
                                   
                              يتم دفع الرسوم لكل قطعة على حدة 
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
              <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            <article class="blog_item">
                            </article>
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img  src="assets/assets/img/hero/hero3.jpg" alt="" width="500px" height="500px">
                                </div>
                               
                            </article>  
                      
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img  src="assets/assets/img/hero/hero4.jpg" alt="" width="500px" height="500px">
                                   
                                </div>
                            </article>
                           
                            <aside class="single_sidebar_widget instagram_feeds">
                                <aside class="single_sidebar_widget newsletter_widget">
                                    <h4 class="widget_title">مهتم بالجديد؟</h4>
                                    <form action="#">
                                        <div class="form-group">
                                            <input type="email" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ادخل ايميلك'" placeholder='ادخل ايميلك' required>
                                        </div>
                                        <button class="button primary-bg" type="submit">اشترك</button>
                                    </form>
                                </aside>
                            </aside>
                            
                                       <div class="road2">
                        <div class="bubbles">
                            <img src="assets/assets/img/icon/bubbles2.jpg" >
                        </div>
                    </div>
                        </div>
                    </div>
             
 
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
  
    </main>





<%- contentFor('FooterJs') %>